[flake8]
max-line-length = 79
max-complexity = 20
extend-ignore = E203,E501,W503,C901
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .env,
    env,
    build,
    dist,
    *.egg-info,
    .mypy_cache,
    .pytest_cache,
    scripts
per-file-ignores =
    __init__.py:F401
import-order-style = google
application-import-names = src
docstring-convention = google
